@import "~react-mfb/mfb.css";

.floating-action-button {
    [data-mfb-state="closed"]{
        li a {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    li a {
        background-color: rgb(115, 139, 255);
        transition: background-color 1000ms linear;

        &:hover {
            .a-icon {
                color: white;
            }
        }

        .a-icon {
            color: #eee;

            &:before {
                line-height: 57px;
                font-size: 22px;
            }
        }
    }

    [data-mfb-label]:after {
        background-color: rgb(77, 77, 77);
        margin-top: -13.5px;
    }
}