/* ------- CENTS CSS ------- */

:root {
  --due-color: rgba(255, 0, 0, 1);
  --pending-color: #dcaa3e;
  --paid-color: rgb(173, 168, 137);
  --body-color: #667088;
}

.old-green-theme {
  --due-color: #e66060;
  --pending-color: #cea95a;
  --paid-color: #9a9a9a;
  --body-color: #6a7c77;
}

/* .green-theme {
  --due-color: #b73150;
  --pending-color: #af904f;
  --paid-color: hsla(61, 37%, 26%, 1);
  --body-color: #4d554a;
  --text-color: white;
  --text-heavy-color: #888;
} */

.green-theme {
  --due-color: #ff021b;
  --pending-color: #ffb100;
  --paid-color: #acff80;
  --body-color: #ebebe5;
  --text-color: black;
  --text-light-color: #0005;
  --text-heavy-color: #000a;
  --text-inverse-color: white;
}

/* @media (max-width: 550px) {
  .green-theme {
    --body-color: #082f24;
  }
} */

.sidebar-menu {
  min-width: 300px;
  background: var(--body-color);
  color: var(--text-color);
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

header {
  background: #dcaa3e;
  color: var(--text-inverse-color);
  z-index: 2;
  position: fixed;
  width: 100%;
  font-size: 20px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

header > .hamburger-menu {
  padding: 13px;
  cursor: pointer;
}

header > .hamburger-menu > a {
  color: inherit;
}

nav {
  background: #dcaa3e;
  box-shadow: 0 -4px 7px 3px #313131;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 20px;
  height: 44px;
}
a.button.menu.button-primary {
  margin-bottom: 0px;
}
.menu-container.container {
  padding-bottom: 0px;
  padding-top: 17px;
}

.menu-container.container a.button {
  color: var(--text-inverse-color);

}

@media (max-width: 750px) {
  .column, .columns {
      max-width: unset !important;
  }
}

@media (min-width: 750px) {
  .column, .columns {
      max-width: auto;
  }
}

.main-carousel .column,
.main-carousel .columns,
.menu-container .column,
.menu-container .columns {
  float: unset;
}

.button:not(.grouped):not(.group):not(.menu) {
  border: 0px;
  border-radius: 0px;
}

.center-all {
  display: flex;
  top: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.white {
  color: white !important;
}

.yellow {
  color: #FFEB3B !important;
}

.way-blurred {
  filter: blur(5px);
}

body {
  overflow-y: hidden;
}

body.offline {
  background-color: rgb(97,97,97);
}

body.offline #add-new{
  display: none;
}

body.offline a.button.menu.button-primary.debts.selected,
body.offline a.button.menu.button-primary.totals.selected,
body.offline a.button.menu.button-primary.assets.selected {
  background-color: aliceblue !important;
  color: black !important;
}

body.offline a.button.due.button-primary {
  background-color: hsla(0, 75%, 58%, 1);
  border-color: lightgrey;
}

body.offline a.button.pending.button-primary {
  background-color: hsla(41, 58%, 60%, 1);
  border-color: lightgrey;
}

body.offline a.button.paid {
  background-color: hsla(52, 5%, 61%, 1);
  border-color: lightgrey;
}

body.offline .button-primary.save {
  display: none;
}

ul.plain {
  list-style-type: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: all-scroll !important;
}

.hidden {
  display: none;
}

.column.menu {
  text-align: center;
  line-height: 25px;
  /* margin-top: 7px; */
}
.column:not(.menu) {
  height: 100%;
  padding-top: 16px;
}

div.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.menu a {
  width: 25%;
  padding-top: 10px;
  line-height: 20px;
  font-weight: bolder;
  padding-top: 5px;
}

a.button.menu.button-primary.selected:after {
  content: ' ';
  background-color: var(--text-inverse-color);
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 5px;
}

.column a.button {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.account.item {
  margin-bottom: 0px;
  line-height: auto;
  border-collapse: collapse;
}
/* .account.item > div > div {
  border-bottom: none;
  padding: 0px;
} */
.title {
    font-weight: 600;
    padding-left: 5px;
    text-align: left;
}
.info .total {
    text-align: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-heavy-color);
}
.apr {
  margin: 0;
  padding: 2px;
  border: 1px solid var(--text-light-color);
  margin-left: 5px;
  font-size: 11px;
}
@media (max-width: 400px) {
  .apr {
    display: none;
  }
}
.status, .date {
    text-align: right;
    padding-right: 7px;
}
.amount {
  padding-left: 7px;
  text-align: left;
}
.header > div {
  line-height: 16px;
  padding-top: 6px;
  /* border-bottom: 1px solid; */
  /* padding-bottom: 5px; */
  font-weight: 100;
  flex: 1;
}


.header .title {
  font-size: 1.4em;
  font-weight: 500;
  font-family: arial;
}

.account.item > div.seperator {
  background-color: var(--text-color);
  height: 1px;
  width: 90%;
  opacity: 0.1;
  padding: 0;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.column a.button {
  padding: 0;
}

.account {
  box-shadow: 0 2px 4px 0px var(--text-light-color);
  border: 1px solid var( --text-light-color);
  border-radius: 3px;
  overflow: hidden;
}

.account > div {
  padding: 4px;
}

.account .info {
  /* background-color: white; */
  height: 25px;
}

.info {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
}

.info > div {
  padding-top: 6px;
  line-height: 10px;
  padding-bottom: 6px;

}

/*
i {
  position: relative;
  right: 0px;
}
*/

a.button {
  user-select: none;
  padding: 0px 13px;
  font-weight: 500;
  letter-spacing: .1rem;
  padding-bottom: 8px;
  color: var(--text-color);
  background: var(--text-inverse-color);
}

.flexrow.status-bar {
  height: 3px;
  padding: 0;
}
.flexrow.status-bar.paid, button.selected.paid {
  background-color: var(--paid-color);
}
button.selected.due, .flexrow.status-bar.due {
  background-color: var(--due-color);
}
.flexrow.status-bar.pending, button.selected.pending {
  background-color: var(--pending-color);
}

a.button.group > div {
  width: 100%;
  margin-left: 0%;
  border-left-width: 4px;
  border-left-color: var(--text-light-color);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

a.button.grouped {
  width: 99%;
  margin-left: 1%;
  border: 0px;
  border-left: 4px solid !important;
  border-left-color: var(--text-heavy-color) !important;
  margin-top: -15px;
  border-radius: 0px;
  border-top: 1px solid #77766c;
}

/* a.button.totals:not(.menu) {
  background-color: rgba(0, 0, 0, 0.09);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(230, 226, 202);
} */

.column.totals .button {
  padding: 16px;
  background: #0000007a;
  color: var(--text-inverse-color);
}

a.button.totals td{
  text-transform: none;
}

a.button.totals table tr:last-child td{
  border-bottom: 0px;
}

a.totals .title.center {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 0px;
  text-transform: uppercase;
}

@media (min-width: 750px) {
  button.paid:hover {
    /* color: rgb(255, 255, 255); */
    border-color: rgb(255, 255, 255);
    background-color: rgb(173, 168, 137);
  }

  button.due:hover{
    /* color: rgba(255, 255, 255, 1); */
    background-color: rgba(255, 0, 0, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  button.pending:hover {
    /* color: rgba(255, 255, 255, 1); */
    background-color: rgba(220, 170, 62, 1);
    border-color: rgba(255, 255, 255, 1);
  }
}

a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  /* background-color: rgba(91,89,77,1); */
  background-color: var(--body-color);
  /*
  background-image: linear-gradient( rgba(0, 0, 0, 0.51), rgba(255, 255, 255, 0.09) ), url('http://mycolorscreen.com/wp-content/uploads/wallpapers_2012/320931/background-01.jpg');
  */
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: top left, top right, top;
  background-size: 200% 100%;
  height: 100vh;
  margin: 0px;
}

a.button.menu {
  color: var(--text-color);
  border: 0;
  border-color: unset !important;
  background-color: unset !important;
  color: var(--text-color);
}

a.button.menu:not(.selected) {
  opacity: .5;
}

a.button.selected {
  color: var(--text-color);
  background-color: #1edbd4;
  border-color: #1edbd4;
}

#popup-modal {
  position: absolute;
  /* display: none; */
/*  overflow: hidden;*/
  top: 100%;
  right: 23%;
  bottom: 100%;
  left: 23%;
  /* background: rgba(0,0,0,0.8); */
  z-index: 99999;
  opacity:0.8;
  /*transition: bottom 0.4s ease-out, opacity 400ms ease-out;*/
}

/*
#popup-modal.show:after {
  content: '×';
  position: inherit;
  color: lightgrey;
  top: 0px;
  right: 40px;
  padding: 0 0px;
  font-weight: normal;
  font-size: 50px;
}
*/

#popup-modal.show {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity:1;
  min-height: 100%;
  display: block;
  overflow-y: scroll;
  /*transition: bottom 0.3s ease-in, opacity 400ms ease-in;*/
}

#popup-modal .content {
  padding: 2em;
  opacity: 0;
  max-width: 410px;
  margin-bottom: 40px;
}

#popup-modal:target {
  opacity:1;
  pointer-events: auto;
}

#popup-modal.show .content {
  opacity:1;
  background: white;
  margin-top: 5%;
/*  top: 5%;*/
/*  position: fixed;*/
/*
  left: 15%;
  right: 15%;
*/
  border-radius: 3px;
  /*min-height: 80%;*/
  /*transition: opacity 400ms ease-in;*/
}

@media (min-width: 400px) {
  #popup-modal > .container {
    width: 99%;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
  }
}

#popup-modal button.graph{
  float: none;
  margin: 0px;
  margin-left: 0.75em;
  font-size: 21px;
  padding: 1px 5px 0px 6px;
  line-height: 37px;
  vertical-align: top;
  background: lightgray;
  color: white;
  border: 0px;
}

#popup-modal div.actions {
  text-align: center;
  margin-top: 20px;
}

#popup-modal div.actions button{
  float: none;
  width: 100px;

}

#popup-modal h2 a {
  text-decoration: none;
}

#popup-modal .header {
  display: flex;
  justify-content: space-between;
}

#popup-modal .header i.fa.fa-pencil {
  font-size: 27px;
  color: #1faedb;
  margin-right: 5px;
  cursor: pointer;
}

#popup-modal textarea.notes {
  width: 100%;
  font-family: monospace;
  font-size: 12px;
  overflow-y: hidden;
  resize: vertical;
}

.container.content button {
  /* float: left; */
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.status button {
  width: 95%;
}

.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  /*position: fixed;*/
}

.main-carousel {
  position: absolute;
  bottom: 0px;
  top: 65px;
  left: 0px;
  right: 0px;
}
/* inherit height from parent */
.carousel { height: 100%; }

.carousel-cell {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

.carousel-cell .container:last-child {
  margin-bottom: 125px !important;
}

.main-carousel > .carousel-cell {
  opacity: 0;
}

@media (min-width: 550px) {
  .carousel-cell::-webkit-scrollbar {
    width: 0px;
  }
}

/*::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

::-webkit-scrollbar-track {
  background-color: rgba(91,89,77,1);
}*/

#add-new, #add-group {
  line-height: 65px;
  border: 2px dotted;
  margin-bottom: 50px;
  font-size: 17px;
  padding: 0px;
  opacity: .5;
}

#add-new:hover, #add-group:hover {
  color: white;
  border-style: solid;
  border-color:  rgb(0, 125, 125);
  background-color: rgb(0, 125, 125);
}

#corner-circle {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 0px 10px;
  border-radius: 20px;
  line-height: 25px;
}

#popup-modal #history-graph {
  height: 300px;
  /* border: 1px solid lightgrey; */
  margin-left: -20px;
  margin-right: -20px !important;
}

#popup-modal #history-graph .loading-spinner {
  text-align: center;
  color: white;
  line-height: 300px;
  background: #ddd;
}

#popup-modal #history-graph .offline {
  font-size: 60px;
  width: 100%;
  text-align: center;
  line-height: 300px;
  color: lightgrey;
}

#popup-modal .group .remove span {
  background-color: #bfbfbf;
  padding: 0px 5px;
  border-radius: 20px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

#popup-modal .group .remove span:hover {
  background-color: #ababab;
}

#popup-modal .group .amount {
  text-align: right;
  padding-right: 10px;
}

#popup-modal .group.even {
  background-color: #f3f3f3;
}

.totals button {
  background: #aaa;
  border: 0px;
  min-width: 111px;
}

.totals button i {
  font-size: 25px;
  vertical-align: middle;
  margin-top: -3px;
}

.form-group input.amount:not(.group),
.form-group input.total:not(.group) {
  display: inline-flex;
  width: 84%;
}

.form-group input.amount.group,
.form-group input.total.group {
  display: inline-flex;
  width: 100%;
}

.input-dollar {
  position: relative;
}
.input-dollar input {
  padding-left:18px;
}

.input-dollar:before {
  position: absolute;
  padding-top: 7px;
  content:"$";
}
.input-dollar:before {
  left: 7px;
}

.checkbox-group > label{
  display: inline;
  padding-right: 10px;
  padding-bottom: 7px;
}

.checkbox-group > input[type="checkbox"]{
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 1.5rem;
}

.div-fake-hidden {
  width:0px;
  height:0px;
  overflow:hidden;
}

/* LOGIN VIEW ---------------*/


#login {
  position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
  background-color: rgba(91,89,77,1);
  z-index: 999999;
  background-color: #667088;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loginView {
  text-align: center;
  margin: 0px auto;
  margin-top: 10%;
  width: 23%;
  min-width: 225px;
}

.header img { width: 75%;}

.loginView .button {
  /*display: inline;*/
  padding: 4px;
}

.loginView .button button { min-width: 85px; }

/* .field {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
} */

.transparent-bg {
  background-color: transparent;
}

.transparent-bg:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn {
  border-color: rgba(255, 255, 255, 0) !important;
  user-select: none;
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.button:focus, .btn:focus, .btn:active { outline: none; }

.register {
  color: #333;
}

#login input, #login button {
  font-family: inherit;
}


/* --- BOOTSTRAP RIP -------------------------------------------------------- */

#login .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#login .btn-block {
  display: block;
  width: 100%;
}

#login .btn-lg {
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.3333333 !important;
  height: auto;
  border-radius: 6px;
}

#login .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#login .input-lg {
  height: 46px !important;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

input[type="date"] {
  font-family: raleway;
  font-size: 15px;
  width: 100%;
}

.row.status {
  display: flex;
}

.column {
  text-align: center;
  width: 100%;
}

.form-group.checkbox-group {
  margin-bottom: 10px;
}

.row-seperator {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  /* background-color: rgba(0, 0, 0, 0.11); */
  margin-bottom: 16px;
  height: 28px;
  border-top: 1px solid #9c9c9c;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 13px;
  padding-left: 14px;
  padding-right: 12px;
}

.row-seperator .center-cell {
  width: 200px;
}

.row-seperator tr.info td {
  letter-spacing: 1.1px;
  background-color: unset;
  white-space: pre;
  border: 0px;
  padding-top: 5px;
}

.row-seperator td span.diff {
  margin-left: 11px;
  opacity: .5;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.flex-row.flex-row-apr .u-full-width {
  width: 97%;
}
.flex-row .columns {
  margin-bottom: auto;
}

.grid-row {
  display: grid;
  grid-gap: 5px;
  /* grid-auto-flow: column; */
  width: 100%;
  grid-template-columns: repeat(auto-fill, 170px);
}

.button.totals td {
  line-height: 16px;
  padding-top: 12px;
  font-size: 15px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  border-color: rgba(255, 255, 255, 0.05);
  font-weight: 100;
}

.button.totals table {
  margin-bottom: 0px;
  line-height: auto;
  border-collapse: collapse;
}

button.button-primary.grey {
  background: #d9d9d978;
  border-color: #5c5c5c;
  color: #5c5c5c;
}

a.test-link {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background: #b5b3b3;
  text-decoration: none;
  color: #5a5a5a;
  width: 170px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  box-shadow: 0px 7px 14px 0px #0000003b;
  padding: 5px;
}

li.sidebar-link {
  list-style: none;
  width: 100%;
  background: var(--text-light-color);
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

li.sidebar-link a {
  color: var(--text-inverse-color);
  text-decoration: none;
}

.apr-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #769492;
  background: url('../images/triangles.png');
  background-size: cover;
  margin-top: 34px;
}

@media (max-width: 550px) {
  .apr-wrapper {
    zoom: 0.385;
    margin-top: 92px;
  }
}

.apr-contain {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: white;
  margin-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 1500px;
  padding: 35px;
  min-width: 950px;
  overflow-y: auto;
  white-space: pre;
  font-size: 17px;
  margin-bottom: 100px;
}

.apr-contain .highcharts-container {
  width: 100% !important;
}

.apr-contain .highcharts-point {
  stroke-width: 0;
  d: path("");
}
.apr-contain path.highcharts-graph {
  stroke-width: 0.5;
}

.apr-contain .highcharts-markers {
  display: none;
}
