<x-page>
	<x-data name="accountsLiabilities"></x-data>
	<x-data name="debtDetailHTML"></x-data>
	<x-data name="debtDetailForm"></x-data>
	<x-data
		name="showArchiveButton"
		defaultValue="false"
	></x-data>

	<x-data
		name="pagePath"
		defaultValue="/debts"
	></x-data>

	<x-subscribe
		path="accountsLiabilities"
		handler="onLiabilitiesChange"
	></x-subscribe>

	<script
		type="application/flow"
		data-key="onLiabilitiesChange"
	>
		//NOTE: this is a workaround to avoid stale state on update
		setTimeout(async () => {
			const debtName = decodeURIComponent(window.location.hash.split('?')[1]);
			const debtDetail = debtName === '_new'
				? {
					hidden: false,
					date: new Date().toISOString().split('T')[0],
					occurence: 'month',
				}
				: await window.getDebtDetail(debtName);
			if(!debtDetail) {
				SetData('pagePath', `/debts/Unknown Debt`);
				const debtNotFoundHTML = document.getElementById('debt-not-found-template').innerHTML;
				SetData('debtDetailHTML', debtNotFoundHTML.replace('{{debtName}}', debtName));
				return;
			}
			SetData('debtDetailForm', debtDetail);
			const debtDetailHTML = document.getElementById('debt-detail-template').innerHTML
				.replace('{{titleEditDisabled}}', debtName === '_new' ? '' : 'disabled')
				.replace('{{formActionLabel}}', debtName === '_new' ? 'Create' : 'Update');
			SetData('debtDetailHTML', debtDetailHTML);
			SetData('pagePath', `/debts/${debtName === '_new' ? 'New' : debtDetail.title}`);
			SetData('showArchiveButton', debtName !== '_new' && debtDetail.hidden+'' !== 'true');
			SetData('showRestoreButton', debtName !== '_new' && debtDetail.hidden+'' === 'true');
		}, 1);
	</script>

	<script
		type="application/flow"
		data-key="updateDebt"
	>
		const rawData = { ...state.accountsRawData };
		const debtName = decodeURIComponent(window.location.hash.split('?')[1]);

		let liability = rawData.liabilities.find(x => x.title === state.debtDetailForm.title);
		if (debtName === '_new' && liability) {
			Alert({
				title: 'Debt already exists',
				message: `Debt "${state.debtDetailForm.title}" already exists.`,
			});
			return;
		}
		if (!liability && debtName !== '_new'){
			Alert({
				title: 'Debt not found',
				message: `Debt "${state.debtDetailForm.title}" not found.`,
			});
			return;
		};
		if (!liability && debtName === '_new'){
			rawData.liabilities.push(state.debtDetailForm);
			liability = rawData.liabilities.find(x => x.title === state.debtDetailForm.title);
		}

		SetData('debtDetailHTML', ''); //loading indicator

		liability.title = state.debtDetailForm.title;
		liability.amount = window.timeWeightedAverage.inputCoerce(state.debtDetailForm.amount);
		liability.status = state.debtDetailForm.status;
		liability.date = state.debtDetailForm.date;
		liability.occurence = state.debtDetailForm.occurence;
		liability.auto = state.debtDetailForm.auto;
		liability.total_owed = state.debtDetailForm.total_owed;
		liability.website = state.debtDetailForm.website;
		liability.note = state.debtDetailForm.note;
		liability.hidden = state.debtDetailForm.hidden;

		await window.updateAndSaveAccounts(rawData);
		await window.refreshAccountsData();

		if(debtName === '_new') {
			Navigate(`/debts/detail.html?${encodeURIComponent(state.debtDetailForm.title)}`);
		} else {
			SetData('debtDetailForm', {}); //clear form
		}
	</script>

	<x-navbar titleSource="pagePath"> </x-navbar>

	<template id="debt-not-found-template">
		<div class="card">
			<p>Debt not found: {{debtName}}.</p>
		</div>
	</template>

	<template id="debt-detail-template">
		<!-- prettier-ignore -->
		<x-schema name="debtSchema">
			title: string, required, min:2, max:50
			amount: string, required, min:0
			status: string
			date: date
			occurence: string
			auto: boolean
			total_owed: number, required, min:0
			website: string
			note: string
		</x-schema>
		<x-form
			data="global_debtDetailForm"
			schema="debtSchema"
		>
			<input
				label="Title"
				name="title"
				{{titleEditDisabled}}
			/>
			<select
				label="Status"
				name="status"
			>
				<option value="paid">Paid</option>
				<option value="pending">Pending</option>
				<option value="due">Due</option>
			</select>
			<input
				label="Date"
				name="date"
				type="date"
			/>
			<textarea
				label="Amount"
				name="amount"
				rows="2"
			></textarea>
			<select
				label="Occurrence"
				name="occurence"
			>
				<option value="bi-week">Bi-Weekly</option>
				<option value="weekly">Weekly</option>
				<option value="month">Monthly</option>
				<option value="bi-month">Bi-Monthly</option>
				<option value="quarter">Quarterly</option>
				<option value="semi-year">Semi-Yearly</option>
				<option value="year">Yearly</option>
			</select>
			<input
				label="Auto Pay"
				type="toggle"
				name="auto"
			/>
			<input
				label="Total Owed"
				name="total_owed"
				type="number"
				inputmode="decimal"
			/>
			<input
				label="Website"
				name="website"
				type="url"
			/>
			<textarea
				label="Notes"
				name="note"
				rows="6"
			></textarea>
			<input
				label="Hidden"
				type="toggle"
				name="hidden"
			/>

			<x-button
				id="formActionButton"
				handler="updateDebt"
				label="{{formActionLabel}}"
			>
			</x-button>
		</x-form>
	</template>

	<x-content class="fade-up">
		<x-fragment contents="debtDetailHTML"></x-fragment>
	</x-content>
</x-page>
