<x-page>
	<x-data name="accountsSummary"></x-data>

	<x-navbar></x-navbar>

	<template id="summary-template">
		<div class="card">
			<x-typography
				variant="h4"
				sx:mb="2"
				>Summary</x-typography
			>
			<div class="card-section">
				<div
					class="row total-owed"
					style="margin-bottom: 2em"
				>
					<label>Owed</label>
					<div>
						<span class="muted">$ </span>
						<span class="value amount">{{item_totalOwed}}</span>
					</div>
				</div>

				<hr class="section-separator" />

				<div class="row">
					<label>Assets</label>
					<div>
						<span class="muted">$ </span>
						<span class="value amount">{{item_assets}}</span>
					</div>
				</div>
				<div class="row">
					<label>Debts</label>
					<div>
						<span>−</span>
						<span class="muted">$ </span>
						<span class="value amount">{{item_liabilities}}</span>
					</div>
				</div>
				<hr class="math-separator" />
				<div class="row result">
					<label></label>
					<div>
						<span></span>
						<span class="muted">$ </span>
						<span class="value amount">{{item_balance}}</span>
					</div>
				</div>
			</div>
		</div>
	</template>

	<x-content class="fade-up">
		<x-fill
			template="summary-template"
			item="global_accountsSummary"
		></x-fill>

		<div class="card">
			<!-- prettier-ignore -->
			<x-markdown>
				#### Future   

				- [ ] minimise framework boilerplate
				- [ ] easier click to assets/debts sections
				- [ ] total owed over time
				- [ ] discretionary analysis
				- [ ] reduction suggestions
				- [ ] visualizations
			</x-markdown>
		</div>
	</x-content>
</x-page>
