<x-page>
	<x-data name="accountsLiabilities"></x-data>

	<script
		type="application/flow"
		data-key="logAccount"
	>
		const title = event.element.dataset.title;
		const account = state.accountsLiabilities.find(x => x.title === title);
		console.log(JSON.stringify(account, null, 4));
	</script>

	<script
		type="application/flow"
		data-key="liabilityDetail"
	>
		const title = event.element.dataset.title;
		Navigate(`/debts/detail.html?${encodeURIComponent(title)}`);
	</script>

	<x-navbar>
		<x-button
			variant="primary"
			href="/debts/detail.html?_new"
		>
			Add New
		</x-button>
	</x-navbar>

	<template id="card-template">
		<div class="card">
			<div class="header-row">
				<div class="title">
					<div class="flex-row align-center gap-2">
						<h3>{{item_title}}</h3>
					</div>
				</div>
				<div class="links">
					<x-box
						sx:display="WHEN '{{item_website}}' IS '' THEN 'none' ELSE 'block'"
					>
						<a
							href="{{item_website}}"
							target="_blank"
						>
							website
						</a>
					</x-box>

					<x-button
						class="link-button"
						variant="link"
						data-title="{{item_title}}"
						handler="logAccount"
						sx:display="WHEN '{{item_showLog}}' IS '' THEN 'none' ELSE 'block'"
					>
						log
					</x-button>

					<x-button
						class="link-button"
						variant="link"
						data-title="{{item_title}}"
						handler="liabilityDetail"
					>
						detail
					</x-button>
				</div>
			</div>

			<div class="money-row">
				<div>
					<span class="muted">$</span>
					<span class="amount">{{item_amount}}</span>
					<span class="muted">{{item_occurence}}</span>
					<x-box
						sx:display="WHEN '{{item_auto}}' IS '' THEN 'none' ELSE 'inline-block'"
					>
						<span class="auto-pill">AUTO</span>
					</x-box>
				</div>
				<x-box
					class="owed"
					sx:display="WHEN '{{item_owed}}' IS '' THEN 'none' ELSE 'block'"
				>
					<span class="muted">$</span>
					<span>{{item_owed}}</span>
					<span> owed</span>
				</x-box>
			</div>

			<!-- <div class="note">{{item_note}}</div> -->
			<div class="sub">{{item_includes}}</div>

			<div class="meta-bottom">
				<x-icon icon="fa-{{item_statusIcon}}"></x-icon>
				<span>{{item_date}}</span>
			</div>
		</div>
	</template>

	<x-content class="fade-up">
		<div class="card-grid">
			<x-map items="global_accountsLiabilities">
				<x-fill
					template="card-template"
					item="{{item}}"
				></x-fill>
			</x-map>
		</div>
	</x-content>
</x-page>
