<x-page>
	<x-data name="accountsLiabilities"></x-data>
	<x-data name="amountCollectItems"></x-data>
	<x-data name="amountCollectItemsChanged"></x-data>
	<x-data
		name="timeWeightedAverage"
		defaultValue="<span>0.00</span>"
	></x-data>

	<script
		type="application/flow"
		data-key="logAccount"
	>
		const title = event.element.dataset.title;
		const account = state.accountsLiabilities.find(x => x.title === title);
		console.log(JSON.stringify(account, null, 4));
	</script>

	<script
		type="application/flow"
		data-key="liabilityDetail"
	>
		const title = event.element.dataset.title;
		Navigate(`/debts/detail.html?${encodeURIComponent(title)}`);
	</script>

	<script
		type="application/flow"
		data-key="amountCollect"
	>
		const modal = document.getElementById('amountCollectModal');
		if(!modal) return;

		const title = event.element.dataset.title;
		const account = state.accountsRawData.liabilities.find(x => x.title === title);
		const amountItems = state.amountCollectItemsChanged || account.amount
			.replace('[time-weighted-average]\n','').trim()
			.split(',').map(x => x.trim().split(':').map(y => y.trim()))
			.map(([amount,date]) => ({ amount: Number(amount), date}))
		SetData('amountCollectItems', amountItems);

		const collectModalBodyTemplate = document.getElementById('collectModalBodyTemplate');
		const modalHTML = collectModalBodyTemplate.innerHTML;
		modal.updateBody(modalHTML);

		Array.from(modal.querySelectorAll('x-button')).forEach(x => x.removeAttribute('disabled'))

		const confirmButton = modal.querySelector('.modal-button-confirm');
		confirmButton.onclick = async () => {
			const confirmed = await Confirm({ title: 'Warning', message: 'This will overwrite the existing history.  You sure?'});
			if(!confirmed) return;

			const toSave = await GetData('amountCollectItemsChanged') || await GetData('amountCollectItems')
			await window.timeWeightedAverage.saveHistory(account.title, toSave);

			modal.hide();
			modal.updateBody('');
			SetData('amountCollectItems', '');
			SetData('amountCollectItemsChanged', '');
		};

		const cancelButton = modal.querySelector('.modal-button-cancel');
		cancelButton.onclick = async () => {
			//const confirmed = await Confirm({ title: 'Warning', message: 'This will discard your work.  You sure?'});
			//if(!confirmed) return;
			modal.hide();
			modal.updateBody('');
		}

		modal.show();
		window.formUpdate = () => {
			Trigger('updateTimeWeightedAverage');
		};
		window.formUpdate();
	</script>

	<script
		type="application/flow"
		data-key="amountCollectAddNew"
	>
		SetData('amountCollectItems', [
			...state.amountCollectItems,
			{ date:new Date().toISOString().slice(0, 10), amount: "0.00" }
		]);
	</script>

	<script
		type="application/flow"
		data-key="amountCollectRemove"
	>
		const index = Number(event.element.dataset.index)-1;
		const newList = state.amountCollectItems.filter((_, i) => i !== index);
		SetData('amountCollectItems', newList);
		window.formUpdate();
	</script>

	<script
		type="application/flow"
		data-key="updateTimeWeightedAverage"
	>
		const inputs = Array.from(document.querySelectorAll('.collectModalContainer x-form div > input')).map(x=>x.value)
		const entries = [];
		for(let i=0; i<inputs.length;){
			entries.push({
				d: new Date(inputs[i]),
				v: Number(inputs[i+1])
			});
			i+=2;
		}
		const average = window.timeWeightedAverage.calculateTWA(entries)
		SetData('timeWeightedAverage', `<span>${average}</span>`);

		const updatedAmountCollect = entries.map(({d,v}) => ({
			date: d.toISOString().slice(0, 10),
			amount: v
		}));
		SetData('amountCollectItemsChanged', updatedAmountCollect);
	</script>

	<x-navbar>
		<x-button
			variant="primary"
			href="/debts/detail.html?_new"
		>
			Add New
		</x-button>
	</x-navbar>

	<template id="card-template">
		<div class="card">
			<div class="header-row">
				<div class="title">
					<div class="flex-row align-center gap-2">
						<h3>{{item_title}}</h3>
					</div>
				</div>
				<div class="links">
					<x-box
						sx:display="WHEN '{{item_website}}' IS '' THEN 'none' ELSE 'block'"
					>
						<a
							href="{{item_website}}"
							target="_blank"
						>
							website
						</a>
					</x-box>

					<x-button
						class="link-button"
						variant="link"
						data-title="{{item_title}}"
						handler="logAccount"
						sx:display="WHEN '{{item_showLog}}' IS '' THEN 'none' ELSE 'block'"
					>
						log
					</x-button>

					<x-button
						class="link-button"
						variant="link"
						data-title="{{item_title}}"
						handler="liabilityDetail"
					>
						detail
					</x-button>

					<x-box
						sx:display="WHEN '{{item_amount_type}}' IS 'time-weighted-average' THEN 'block' ELSE 'none'"
					>
						<x-button
							class="link-button"
							variant="link"
							data-title="{{item_title}}"
							handler="amountCollect"
						>
							track
						</x-button>
					</x-box>
				</div>
			</div>

			<div class="money-row">
				<div>
					<span class="muted">$</span>
					<span class="amount">{{item_amount}}</span>
					<span class="muted">{{item_occurence}}</span>
					<x-box
						sx:display="WHEN '{{item_auto}}' IS '' THEN 'none' ELSE 'inline-block'"
					>
						<span class="auto-pill">AUTO</span>
					</x-box>
				</div>
				<x-box
					class="owed"
					sx:display="WHEN '{{item_owed}}' IS '' THEN 'none' ELSE 'block'"
				>
					<span class="muted">$</span>
					<span>{{item_owed}}</span>
					<span> owed</span>
				</x-box>
			</div>

			<!-- <div class="note">{{item_note}}</div> -->
			<!-- <div class="sub">{{item_includes}}</div> -->

			<div class="meta-bottom">
				<x-icon icon="fa-{{item_statusIcon}}"></x-icon>
				<span>{{item_date}}</span>
			</div>
		</div>
	</template>

	<style>
		#amountCollectModal {
			.modal-overlay {
				.modal-container {
					/* max-width: unset; */
					.collectModalContainer {
						height: 23rem;
						overflow-y: auto;
						padding-bottom: 4em;

						x-form {
							display: flex;
							flex-direction: column;
							gap: 1.5em;
						}
					}
					input {
						flex: 1;
					}
					x-button button {
						min-width: unset;
					}
				}
			}
		}
	</style>
	<x-modal
		id="amountCollectModal"
		type="confirm"
		confirmText="Save"
		reuse="false"
	>
	</x-modal>
	<template id="collectModalBodyTemplate">
		<x-typography
			variant="h3"
			sx:mb="4"
		>
			Track Costs
		</x-typography>
		<div
			style="
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 3em;
			"
		>
			<x-box
				variant="body"
				sx:display="flex"
				sx:gap="2"
			>
				<span>Time-weighted Average:</span>
				<x-fragment contents="global_timeWeightedAverage"></x-fragment>
			</x-box>
		</div>
		<div class="collectModalContainer">
			<x-form data="">
				<x-map items="global_amountCollectItems">
					<div style="display: flex; gap: 1em; align-items: center">
						<input
							label="Date"
							name="date"
							type="date"
							value="{{item_date}}"
							onchange="window.formUpdate()"
						/>
						<input
							label="Amount"
							name="amount"
							type="number"
							value="{{item_amount}}"
							oninput="window.formUpdate()"
						/>
						<x-button
							variant="text"
							data-index="{{index}}"
							handler="amountCollectRemove"
							label=""
							icon="fa-trash-o"
							sx:padding="0.4em"
						></x-button>
					</div>
				</x-map>
			</x-form>
			<div
				style="display: flex; justify-content: center; margin-top: 2em"
			>
				<x-button
					label="Add Amount"
					handler="amountCollectAddNew"
					variant="outlined"
				></x-button>
			</div>
		</div>
	</template>

	<x-content class="fade-up">
		<div class="card-grid">
			<x-map items="global_accountsLiabilities">
				<x-fill
					template="card-template"
					item="{{item}}"
				></x-fill>
			</x-map>
		</div>
	</x-content>
</x-page>
